@font-face
{
  font-family: SourceSerifPro, serif;
  src: url('SourceSerifPro-Regular.ttf');
}

@font-face
{
  font-family: SourceSerifPro, serif;
  src: url('SourceSerifPro-Bold.ttf');
  font-weight: bold;
}

body
{
  font-family: SourceSerifPro;
}

.navbar
{
  background: #d6e05b ;
  /*background: #ccc;*/
}

.navbar a
{
  color: black;
}

#logo
{
  height: 50px;
}

.navbar-brand
{
  height: 4em;
}

.nav-margin
{
  margin-top: 1.5em;
}
/*#logo-header
{
  font-size: 1.5em;
  font-weight: bold;

}*/

